.WeeklySchedule {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 350px;
}
.HeadingSchedule {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    margin-top: 1rem;
}
.HeadingSchedule > h1 {
    color: #333333;
    font-size: 26px;
    margin-bottom: 10px;
}
.ContainShift-Schedule {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
    padding-left: 1.5rem;
}
.Shifts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}
.dateSchedule {
    border-radius: 30px;
    padding: .5rem;
    padding-left: .75rem;
    padding-right: .75rem;
    background-color: white;
    border: #DCDDE1 2px solid;
    font-weight: 600;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 1em;
}
.dateSchedule > img {
    width: 8px;
}

h2 {
    color: #4F4F4F;
    font-size: 18px;
}
.Shift {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    font-size: 14px;
    background-color: #DCEBFC;
    border: #DCDDE1 2px solid;
    padding-top: .5em;
    padding-left: 1.5rem;
    padding-right: 13rem;
    padding-bottom: 1rem;
    border-radius: 10px;
} 
.listTitle {
    font-weight: 600;
}
li {
    color: #4F4F4F;
    margin-left: 1rem;
}
.SecondShift {
    gap: 1.15rem;
}
.arrowIcons {
    cursor: pointer;
}
@media screen and (max-width: 900px) {
    .ContainShift-Schedule {
        flex-direction: column;
        gap: 2.5rem;
        padding-left: 1rem;
    }
  }
  