body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: auto;
  height: 20vh;
  overflow: hidden;
}

.announcement {
  background: #fff;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #45a049;
}

.form-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #f1f1f1;
  z-index: 9;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-container {
  max-width: 500px;
  padding: 20px;
  background-color: white;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

.form-container input[type="text"], 
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-container input[type="text"]:focus, 
.form-container textarea:focus {
  border-color: #4CAF50;
  outline: none;
}

.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, 
.form-container .cancel:hover {
  opacity: 1;
}

.form-container .btn-container {
  display: flex;
  justify-content: space-between;
}
