
.header-list {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h1 {
  margin: 0;
  color: #333;
}
.header-icons {
  display: flex;
  gap: 20px;
}
.header-icons div {
  text-align: center;
  font-size: 0.9em;
}
.header-icons button {
  background-color: rgb(31, 31, 31);
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}
.tabs {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.tab {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  color: #666;
  border-bottom: 2px solid transparent;
}
.tab-active {
  border-bottom: 2px solid #333;
  color: #333;
}
.filters {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}
.filters div {
  display: flex;
  gap: 10px;
  align-items: center;
}
.filters input[type="text"] {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  margin: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #f9f9f9;
}
tr:hover {
  background-color: #f1f1f1;
}
.pending {
  color: #e67e22;
}
.ongoing {
  color: #3498db;
}
.action button {
  background-color: orange;
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 5px;
}
