
.total-container {
  background-color: rgba(245,248,254,255);  
  max-width: 100%;
  background-color: blue;
}

.headeor-list {
  padding: 12px;
  font-size: 18px;
  flex-direction: column;
  align-items: center;
  background-color: green;
  margin-bottom: 40px;
}

.title-container {
  width: 100%;
} 

.title-container h1{
  color: #151540;
  margin: 15px;
}

.headeor-icons {
  display: flex;
  justify-content: space-around;
  gap: 13px;
  
  background-color: red;
  margin-top: 10px;
}

.icon-button-container {
  display: flex;
  align-items: center;
  background-color: yellow;
}

.users-icon {
  font-size: 220%;
  background-color: red;
}

.headeor-icons button {
  height: 100%;
  width: 100px;
  color: #414141;
  border: none;
  padding: 6px 6px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 18px;
  background-color: rgba(245,248,254,255);
  font-weight: bold;
}

.tab-search-container {
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
}

.inner-container {
  /* background-color: green; */
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.tabs {
  display: flex;
  background-color: rgba(245,248,254,255);
  width: 60%;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  color: #414141;
  border-bottom: 4px solid black;
  font-size: 20px;
  font-weight: bold;
  width: 25%;
  text-align: center;
}
.tab-active {
  border-bottom: 4px solid rgba(0,110,255,255);
  background-color: rgba(217,230,247,255);
  color: #414141;
}

.search-input {
  width: 35%;
  padding: 5px;
  border-radius: 5px;
  border: 0.5px solid gray;
}

.filters {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.filters div {
  width: 75%;
  display: flex;
  gap: 10px;
  /* background-color: red; */
  align-items: center;
}
.filters input[type="text"] {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  /* margin: 0 20px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #f9f9f9;
}
tr:hover {
  background-color: #f1f1f1;
}
.pending {
  color: #e67e22;
}
.ongoing {
  color: #3498db;
}
.action button {
  background-color: orange;
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 5px;
}
