/* src/components/Sidebar.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.sidebar {
  height: 100%;
  width: 15%;
  border-radius: 8px;
}

.link-list{
  list-style-type: none;
  padding:0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.link-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link-data {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 30px; 
  gap: 10px;
  cursor: pointer;
  border-left: 5px solid transparent;
}

.nav-link {
  height: 50px;
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  color: #8E8D8D;
  font-weight: bold;
}

.selected {
  border-left: 5px solid #2F80ED;
  color : #2F80ED;
}


