.daily-reminder-card-frame {
    background-color: white;
    height: auto;
    width: 100%;
    padding: 20px;
    padding-bottom: 0px;
    border: 1px solid rgba(128, 128, 128, 0.322);
    border-radius: 10px;
    margin-top: 15px;
}

.daily-reminder-card {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.daily-reminder-card:first-child {
    margin-top: 0px !important;
}

.daily-reminder-card-left {
    display: flex;
    justify-content: left;
    width: 40%;
}

.daily-reminder-card-left-hr {
    display: block;
    justify-content: left;
}

.daily-reminder-card-middle {
    display: flex;
    width: 30%;
    display: flex;
    justify-content: center;
}

.daily-reminder-card-right {
    display: flex;
    width: 30%;
    display: flex;
    justify-content: right;
}

.daily-reminder-card-right p {
    margin: 0px 10px;
}