.container {
  display: flex;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 98%;
  max-width: 90%;
  height: 77vh;
}


.section {
  flex: 1;
  padding: 20px;
  text-align: center;
  height: 70vh;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

.calendar {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.calendar th,
.calendar td {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
}

.calendar th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.calendar td {
  cursor: pointer;
}

.calendar td.today {
  background-color: #e0e0e0;
}

.calendar td.selected {
  background-color: #ddd;
  font-weight: bold;
}

.list {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  margin-top: 20px;
}

.list th,
.list td {
  text-align: left;
  padding: 10px;
  border: 1px solid #ddd;
}

.list th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.list td.status {
  text-align: center;
}

.list td.status.arriving {
  color: green;
}

.list td.status.departing {
  color: red;
}

.list td.date {
  text-align: right;
}
