@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/ForgotPassword-Background-Img.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 1.75rem 2rem;
    border-radius: 1rem;
    gap: 10px;
    width: 48rem;
}
h1 {
    color: #384C8D;
}
.desc {
    font-weight: 500;
    font-size: 22.5px; 
}
.btn > button {
    border: 0;
    padding: .5rem 2.25rem;
    margin-top: .5rem;
    border-radius: 7.5px;
    background-color: #597EF7;
    color: white;
    cursor: pointer;
}
button > p {
    font-weight: 600;
    font-size: 16px;
}
img {
    max-width: 100%;
    display: block;
}
.ExtramusTextImg {
    width: 14rem;
}
