.Header{
    background-color: #483894;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2.5rem 1.5rem 5rem;
    height: 11vh;
}
.dropdown {
    width: 20px;
}
.left-Header {
    display: flex;
    align-items: center;
    gap: 3.75rem;
}
.right-Header {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.Header-logos {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    width: 20px;
}
.grey {
    color: #F2F2F2;
}