.Sidebar {
    min-width: 200px;
    width: 15%;
    padding-top: .25rem;
    background-color: white;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.side-4 {
    margin-top: 1rem;
}
.sidebar-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}
.selected {
    color: #2F80ED;
}
.hidden {
    visibility: hidden;
}
.Sidebar-list {
    display: flex;
    flex-direction: column;
}

.sidebar-menu > p {
    color: #8E8D8D;
    font-size: 14px;
    font-weight: 600;
}
.icons {
    width: 20px;
}